Port 22
HostKey /run/minicore-ssh/ssh_host_ed25519_key
PidFile /run/sshd.pid
AuthorizedKeysFile /run/minicore-ssh/authorized_keys
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin no
AllowUsers diagnostic
PubkeyAuthentication yes
AuthenticationMethods publickey
PermitTTY no
DisableForwarding yes
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitUserEnvironment no
StrictModes yes
ForceCommand /usr/local/bin/minicore-dispatch
LogLevel ERROR
