Port 22
HostKey /run/minicore-ssh/ssh_host_ed25519_key
PidFile /run/sshd.pid
PasswordAuthentication no
KbdInteractiveAuthentication no
PermitRootLogin forced-commands-only
AllowUsers diagnostic root
PubkeyAuthentication yes
AuthenticationMethods publickey
PermitTTY no
DisableForwarding yes
AllowAgentForwarding no
AllowTcpForwarding no
X11Forwarding no
PermitUserEnvironment no
StrictModes yes
LogLevel ERROR
Match User diagnostic
    AuthorizedKeysFile /run/minicore-ssh/authorized_keys
    ForceCommand /usr/local/bin/minicore-dispatch
Match User root
    AuthorizedKeysFile /run/minicore-ssh/fault_authorized_keys
    ForceCommand /usr/local/bin/minicore-fault
